<%- include("partials/header.ejs") -%>


<section class="post-section">
<div class="wrapper">
    <div class="inline">
        <img width="500px" class="post-img" src="<%=image%>" alt="">
    </div>
</div>
<h3 class="title post-title"><%=title%></h3>
<p class="content post-content"><%=content%></p>

</section>


<%- include("partials/footer.ejs") -%>